{% extends 'layouts/layout.html' %} {% block head %} {% if register %}
<form action="/" method="get">
  <button type="submit">Login</button>
</form>
{% else %}
<form action="/register" method="get">
  <button type="submit">Register</button>
</form>
{% endif %} {% endblock %} {% block body %}
<!-- Login Form -->
<div id="loginForm">
  <h1>{% if register %}Register {% else %} Login{% endif %}</h1>
  {% if register %}
  <form action="/register" method="post">
    {% else %}
  <form action="/login" method="post">
    {% endif %}
    <div>
      <label for="username">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="Enter your email"
      required
    />
    </div>

    {% if register %}
    <div>
      <label for="username">Username:</label>
    <input
      type="username"
      id="username"
      name="username"
      placeholder="Enter your email"
      required
    />
  
    </div>
  
    {% endif %}

    <div>
      <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Enter your password"
      pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
      required
      minlength="12"
    />
    </div>
    {% if register %}
  
  
    <div>
      <label for="password">Confirm Password:</label>
    <input
      type="password"
      id="confirm-password"
      name="confirm-password"
      placeholder="Confirm your password"
      pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
      required
      minlength="12"
    />
    </div>
  
  
    {% endif %}
    <button type="submit">
      {% if register %}Register {% else %} Login{% endif %}
    </button>
  </form>
  {% if error and error.status %}
  <div class="banner error">{{error.text}}</div>
  {% endif %}
</div>
{% endblock %}
